In [4]:
import pandas as pd
import numpy as np

In [5]:
file_name = 'Case_Study_Data_AIS.xlsx'

port = pd.read_excel(file_name, sheet_name=2)
sofr = pd.read_excel(file_name, sheet_name=3)

In [6]:
sofr

         Date  3M SOFR
0    12/31/XX   0.0100
1   3/31/XX+1   0.0125
2   6/30/XX+1   0.0140
3   9/30/XX+1   0.0170
4  12/31/XX+1   0.0250

In [7]:
port.head()

,Portfolio,Primary_Asset_ID,Asset_Type,Coupon_Type,Rating,Industry,Market_Value,OAS,Yield,Duration
0,Ares,CINAVYTI,Loan,Floating,BB,Media,703181,317.0,4.17,0.115
1,Ares,DUHVUIVB,Bond,Fixed,BB-,Services,955601,387.0,5.87,1.023
2,Ares,BKJJDAID,Bond,Fixed,CCC,Healthcare,732398,519.0,6.19,6.176
3,Ares,JKSOSIKI,Bond,Fixed,BB-,Consumer Goods,1885559,588.0,6.88,6.295
4,Ares,HUIYGUHC,Loan,Floating,B,Financial Services,956697,485.0,6.85,0.236

### Assumptions Used in Estimation: 
1. Assume SOFR as benchmark risk free rate 
2. Assume 3M SOFR rate remains constant over compounding annual period as quoted 
3. Assume fixed coupon instrustment receives interest payment based on fixed yield 
4. Assume floating rate instrustment receives interest payment RF (SOFR) + OAS

In [1]:
def estimate_interest_payment(port, annual_rfr): 

    port_fixed = port[port['Coupon_Type'] == 'Fixed'].copy()
    port_float = port[port['Coupon_Type'] == 'Floating'].copy()

    port_fixed['Interest_Esimated'] = port_fixed['Yield']/100 * port_fixed['Market_Value']
    port_float['Interest_Esimated'] = (port_float['OAS']/10000 + annual_rfr) * port_float['Market_Value']

    estimated_interest =  port_fixed['Interest_Esimated'].sum() + port_float['Interest_Esimated'].sum()

    return estimated_interest

In [12]:
annual_rfr = (sofr['3M SOFR'] + 1).cumprod()[3] - 1
print(f'estimated annual risk free rate : {round(annual_rfr, 4)}')

estimated annual risk free rate : 0.0546

In [13]:
interest = estimate_interest_payment(port, annual_rfr)
print(f'estimated annual interest amount : {round(interest, 2)}')

estimated annual interest amount : 11160075.01